{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pagina Inicio</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>

  <header id="main-header">
    <span class="logo-text">ITS - Information Technologies Solutions</span>
    <nav id="main-nav">
    </nav>
  </header>

  <main>
    <h1 class="page-title">Nuestro Equipo</h1>
    <p class="page-sub">Nosotros si resolvemos</p>
    <div id="team-container">
    </div>
  </main>

  <footer id="main-footer">
  </footer>

  <script src="{% static 'script.js' %}"></script>
</body>
</html>